@font-face {
  font-family: "BlackAndWhitePicture";
  src: url("../assets/fonts/BlackAndWhitePicture-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CherryBombOne";
  src: url("../assets/fonts/CherryBombOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.game-screen {
  display: flex;
  flex-direction: column;
  background-image: url("http://localhost:3000/images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  gap: 10px;
}

.game-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  flex-shrink: 0;
  min-height: 0;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.game-logo {
  padding: 20px 0;
}
